html, body {
  margin: 0;
  padding: 0; }

body {
  background: url("/static/img/track4.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

#home {
  width: 100%;
  height: 800px;
  position: relative; }
  #home .content-hold {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.35); }
    #home .content-hold .social {
      position: absolute;
      top: 10px;
      left: 10px;
      opacity: 0.45;
      transition: opacity 150ms linear; }
      #home .content-hold .social:hover {
        opacity: 0.85;
        transition: opacity 150ms linear; }
      #home .content-hold .social a {
        text-decoration: none; }
        #home .content-hold .social a img {
          width: 35px;
          margin: 0px 3px;
          position: relative;
          top: 0;
          transition: top 100ms linear; }
          #home .content-hold .social a img:hover {
            top: -3px;
            transition: top 100ms linear; }
          @media screen and (max-width: 700px) {
            #home .content-hold .social a img {
              width: 35px; } }
    #home .content-hold .home-title {
      text-align: center;
      font-family: Verdana;
      font-size: 110px;
      color: rgba(255, 255, 255, 0.65);
      letter-spacing: -12px;
      width: 300px;
      margin: 65px auto 0px;
      position: relative;
      left: -6px; }
    #home .content-hold .nav {
      display: none;
      position: relative;
      left: 18%;
      top: -75px;
      font-family: Verdana;
      color: rgba(255, 255, 255, 0.7);
      font-weight: lighter;
      width: 70%; }
      #home .content-hold .nav .space {
        letter-spacing: 40px; }
    #home .content-hold nav {
      float: left;
      width: 50%;
      box-sizing: border-box;
      position: relative;
      top: -75px; }
      #home .content-hold nav span {
        color: rgba(255, 255, 255, 0.8);
        font-family: "Quicksand", sans-serif;
        font-size: 17px;
        cursor: pointer; }
        #home .content-hold nav span:hover {
          color: white; }
      #home .content-hold nav.left {
        text-align: left;
        padding-left: 10%; }
        #home .content-hold nav.left span {
          padding-right: 70px; }
        @media screen and (max-width: 950px) {
          #home .content-hold nav.left {
            padding-left: 8%; }
            #home .content-hold nav.left span {
              padding-right: 55px; } }
        @media screen and (max-width: 815px) {
          #home .content-hold nav.left {
            padding-left: 5%; }
            #home .content-hold nav.left span {
              padding-right: 45px; } }
        @media screen and (max-width: 690px) {
          #home .content-hold nav.left {
            padding-left: 3%; }
            #home .content-hold nav.left span {
              padding-right: 35px; } }
        @media screen and (max-width: 600px) {
          #home .content-hold nav.left {
            padding-left: 3%;
            top: -110px; }
            #home .content-hold nav.left span {
              display: block;
              margin-bottom: 11px; } }
      #home .content-hold nav.right {
        text-align: right;
        padding-right: 10%; }
        #home .content-hold nav.right span {
          padding-left: 60px; }
        @media screen and (max-width: 950px) {
          #home .content-hold nav.right {
            padding-right: 8%; }
            #home .content-hold nav.right span {
              padding-left: 40px; } }
        @media screen and (max-width: 815px) {
          #home .content-hold nav.right {
            padding-right: 5%; }
            #home .content-hold nav.right span {
              padding-left: 30px; } }
        @media screen and (max-width: 690px) {
          #home .content-hold nav.right {
            padding-right: 3%; }
            #home .content-hold nav.right span {
              padding-left: 20px; } }
        @media screen and (max-width: 600px) {
          #home .content-hold nav.right {
            padding-right: 3%;
            top: -110px; }
            #home .content-hold nav.right span {
              display: block;
              margin-bottom: 11px; } }
    #home .content-hold #home-arrow {
      position: absolute;
      bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center; }
      #home .content-hold #home-arrow img {
        width: 60px;
        text-align: center;
        opacity: 0.7; }
    #home .content-hold form {
      position: absolute;
      bottom: 110px;
      margin: 0px auto;
      left: 0;
      right: 0;
      text-align: center; }
      #home .content-hold form input {
        font-family: "Quicksand", sans-serif;
        width: 180px;
        height: 30px;
        border-radius: 5px;
        border: 2px rgba(255, 255, 255, 0.2) solid;
        text-align: center;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.4);
        outline: none;
        color: white;
        font-weight: 300;
        transition: all 150ms linear; }
        #home .content-hold form input:hover {
          border: 2px rgba(255, 255, 255, 0.5) solid;
          transition: all 150ms linear; }
      #home .content-hold form button {
        width: 110px;
        height: 36px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 2px rgba(255, 255, 255, 0.2) solid;
        font-family: "Quicksand", sans-serif;
        border-radius: 5px;
        position: relative;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        transition: all 100ms linear;
        outline: none; }
        #home .content-hold form button:hover {
          border: 2px rgba(255, 255, 255, 0.4) solid;
          transition: all 100ms linear;
          cursor: pointer; }
        #home .content-hold form button:active {
          background-color: rgba(0, 0, 0, 0.6); }

#track {
  height: 770px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; }
  #track .media-center {
    text-align: center;
    display: block;
    margin: 0px auto; }
  #track .cover-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden; }
    #track .cover-over .title {
      text-align: center;
      font-size: 40px;
      font-family: "Quicksand", sans-serif;
      margin-top: 50px; }
    #track .cover-over .soundcloud-wrapper {
      position: relative;
      width: 600px;
      margin: 0px auto;
      border: 2px white solid;
      padding: 9px;
      top: 7%; }
      #track .cover-over .soundcloud-wrapper .sc-wrapper-2 {
        border: 2px white solid;
        padding: 6px; }

#satellite {
  width: 100%;
  border: 1px transparent solid;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5); }
  #satellite .content {
    padding: 5px 160px;
    text-align: center;
    font-family: "Quicksand", sans-serif; }
  #satellite .ep-sub-title {
    margin-top: 25px;
    font-weight: 700;
    text-align: center;
    font-family: "Quicksand", sans-serif; }

#bio {
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.5); }
  #bio .title {
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
    letter-spacing: -2px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55); }
  #bio .content {
    padding: 30px 270px;
    text-align: justify;
    font-family: "Quicksand", sans-serif; }

/*# sourceMappingURL=home.css.map */
