html, body {
  margin: 0;
  padding: 0; }

html {
  background: url("/static/img/_music.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% center; }

.home-title {
  text-align: center;
  font-family: Verdana;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.65);
  letter-spacing: -12px;
  width: 300px;
  margin: 65px auto 0px;
  position: relative;
  left: -6px; }

.no-dec {
  text-decoration: none; }

nav {
  float: left;
  width: 50%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
  top: -75px; }
  nav span {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    cursor: pointer; }
    nav span:hover {
      color: #787878; }
  nav.left {
    text-align: left;
    padding-left: 10%; }
    nav.left span {
      padding-right: 70px; }
    @media screen and (max-width: 950px) {
      nav.left {
        padding-left: 8%; }
        nav.left span {
          padding-right: 55px; } }
    @media screen and (max-width: 815px) {
      nav.left {
        padding-left: 5%; }
        nav.left span {
          padding-right: 45px; } }
    @media screen and (max-width: 690px) {
      nav.left {
        padding-left: 3%; }
        nav.left span {
          padding-right: 35px; } }
    @media screen and (max-width: 600px) {
      nav.left {
        padding-left: 3%;
        top: -110px; }
        nav.left span {
          display: block;
          margin-bottom: 11px; } }
  nav.right {
    text-align: right;
    padding-right: 10%; }
    nav.right span {
      padding-left: 60px; }
    @media screen and (max-width: 950px) {
      nav.right {
        padding-right: 8%; }
        nav.right span {
          padding-left: 40px; } }
    @media screen and (max-width: 815px) {
      nav.right {
        padding-right: 5%; }
        nav.right span {
          padding-left: 30px; } }
    @media screen and (max-width: 690px) {
      nav.right {
        padding-right: 3%; }
        nav.right span {
          padding-left: 20px; } }
    @media screen and (max-width: 600px) {
      nav.right {
        padding-right: 3%;
        top: -110px; }
        nav.right span {
          display: block;
          margin-bottom: 11px; } }

#music .title-tag {
  text-decoration: none; }
#music .title {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin: 40px auto 80px;
  font-size: 80px;
  letter-spacing: -16px;
  color: rgba(0, 0, 0, 0.49); }
#music .content {
  max-width: 800px;
  margin: 85px auto 70px; }
#music .song-entry {
  margin-bottom: 115px; }
  #music .song-entry .song-title {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 20px; }
  #music .song-entry .social {
    margin-top: 10px;
    text-align: center; }
    #music .song-entry .social a {
      text-decoration: none; }
      #music .song-entry .social a img {
        width: 45px;
        text-align: center;
        margin: 0px 10px;
        transition: all 150ms linear;
        position: relative;
        top: 0; }
        #music .song-entry .social a img:hover {
          top: -6px;
          transition: all 150ms linear; }
  #music .song-entry .info {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    letter-spacing: 1px; }
    #music .song-entry .info .info-title {
      margin: 30px auto 0px;
      font-size: 23px; }
    #music .song-entry .info .role-name {
      margin-top: 11px;
      font-size: 16px; }
    #music .song-entry .info .link {
      letter-spacing: 0px;
      font-size: 12px; }
      #music .song-entry .info .link a {
        text-decoration: none; }

/*# sourceMappingURL=music.css.map */
