{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EG | Music</title>
	<link rel="stylesheet" href="{% static 'css/music.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">
	<script src="{% static 'js/lightgallery.min.js' %}"></script>
	<script src="{% static 'js/lg-thumbnail.min.js' %}"></script>
	<script src="{% static 'js/lg-fullscreen.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="music">
		<a class="no-dec" href="{% url 'homepage' %}"><div class="home-title">EG</div></a>
		<nav class="left">
			<a class="no-dec" href="{% url 'homepage' %}#track"><span class="i1">Latest</span></a>
			<a class="no-dec" href="{% url 'homepage' %}#satellite"><span class="i2">EP</span></a>
			<span class="i3">Music</span>
		</nav>
		<nav class="right">
			<a class="no-dec" href="{% url 'gallery' %}"><span class="i1">Gallery</span></a>
			<a href="{% url 'homepage' %}#bio" class="no-dec"><span class="i2">Bio</span></a>
			<a href="{% url 'homepage' %}" class="no-dec"><span class="i3">Subscribe</span></a>
		</nav>
		<div class="content">
			{% for track in tracks %}
			<div class="song-entry">
				<div class="song-title">{{ track.track_title }}</div>
				{{track.soundcloud_html|safe}}
				<div class="social">
					<a href="{{track.spotify_url}}">
						<img src="{% static 'img/social_spotify.png' %}" alt="">
					</a>
					<a href="{{track.youtube_url}}">
						<img src="{% static 'img/social_youtube.png' %}" alt="">
					</a>
					<a href="{{track.apple_music_url}}">
						<img src="{% static 'img/social_apple.png' %}" alt="">
					</a>
					<a href="{{track.tidal_url}}">
						<img src="{% static 'img/social_tidal.png' %}" alt="">
					</a>
				</div>
				<div class="info">
					<div class="info-title">Collaborators</div>
					{% for collab in track.collaborators.all %}
					<div class="role-name">{{collab.role_name}}</div>
					<div class="link"><a href="{{collab.personal_url}}">{{collab.personal_url}}</a></div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>